{{ 'section-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-breadcrumbs.css' | asset_url | stylesheet_tag }}
{{ 'component-search-bar.css' | asset_url | stylesheet_tag }}

<script src="{{ 'search-bar.js' | asset_url }}" defer="defer"></script>

<section class="hero-banner">
  <div 
    class="hero-banner__image" 
    style="background-image: url('{{ section.settings.image | image_url: width: 1920 }}');">
    <div class="hero-banner__content">
      <div class="hero-banner__breadcrumb">
        {% render 'breadcrumb' %}
      </div>
      <div class="hero-banner__main-content">
        <h1 class="hero-banner__title">Conseils de peau</h1>
        <p class="hero-banner__text text-body">
          {{ section.settings.text }}
        </p>
        {% render 'search-bar' %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Conseils de peau",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image de fond"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Texte personnalisé"
    }
  ]
}
{% endschema %}
