{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'template-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'filter-accordion.js' | asset_url }}" defer="defer"></script>

<filter-accordion>
  <div class="filter-row">
    <button class="simple-button" data-filter="preoccupation" aria-expanded="false">
      <p>Préoccupation</p>
      <div class="svg-wrapper">
        <div class="icon-plus">
          {{- 'icon-plus.svg' | inline_asset_content -}}
        </div>
        <div class="icon-minus">
          {{- 'icon-minus.svg' | inline_asset_content -}}
        </div>
      </div>
    </button>

    <button class="simple-button" data-filter="besoin" aria-expanded="false">
      <p>Besoin</p>
      <div class="svg-wrapper">
        <div class="icon-plus">
          {{- 'icon-plus.svg' | inline_asset_content -}}
        </div>
        <div class="icon-minus">
          {{- 'icon-minus.svg' | inline_asset_content -}}
        </div>
      </div>
    </button>

    <button class="simple-button" data-filter="peau" aria-expanded="false">
      <p>Type de peau</p>
      <div class="svg-wrapper">
        <div class="icon-plus">
          {{- 'icon-plus.svg' | inline_asset_content -}}
        </div>
        <div class="icon-minus">
          {{- 'icon-minus.svg' | inline_asset_content -}}
        </div>
      </div>
    </button>
  </div>

  <div class="filter-results">
    <div class="filter-panel" data-filter="preoccupation">
      <p>Contenu pour Préoccupation</p>
    </div>
    <div class="filter-panel" data-filter="besoin">
      <p>Contenu pour Besoin</p>
    </div>
    <div class="filter-panel" data-filter="peau">
      <p>Contenu pour Type de peau</p>
    </div>
  </div>
</filter-accordion>

{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">
    <div class="blog-grid">
      {%- assign featured_article = blog.articles.first -%}

      <!-- Article principal -->
      <div class="blog-grid__featured-article">
        {% render 'card-article', 
          card_article: featured_article,
          featured: true
        %}
        {% comment %} <div class="main-article__image">
          <img src="{{ main_article.image | image_url: height: 880 }}" alt="{{ main_article.title }}">
        </div>
        <div class="main-article__content">
          <h2>{{ main_article.title }}</h2>
          <p>{{ main_article.excerpt }}</p>
          <a href="{{ main_article.url }}" class="read-more">Voir tout l'article</a>
        </div> {% endcomment %}
      </div>
  
      <!-- Articles secondaires -->
      <div class="blog-grid__secondary-articles">
        {%- for article in blog.articles offset: 1 limit: 4 -%}
          {% render 'card-article', card_article: article %}
        {%- endfor -%}
      </div>
  
      <!-- Cartes spécialisées -->
      <div class="blog-grid__special-cards">
        <div class="special-card">
          <h3>Chat avec un expert</h3>
          <p>Discutez avec notre équipe pour des conseils personnalisés.</p>
          <a href="#" class="button">Commencer</a>
        </div>
        <div class="promo-cards">
          <div class="promo-cards__image">
            <img src="{{ section.settings.image_promo | image_url: height: 424 }}" alt="discount image">
          </div>
          <div class="promo-cards__text">
          <div>
            <h3>Créez votre pack et obtenez 10% de réduction</h3>
            <p class="text-body">Des soins à l'efficacité, réunis au sein d'un pack avec un prix préférentiel.</p>
          </div>
            <button>PACKS DE SOINS</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% comment %} {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div> {% endcomment %}
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_promo",
      "label": "Image de promotion"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
